<h1 class="h4" >Efetivação da compra</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th style="text-align:right;">Preço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtos">
            <td style="width:15%"><img style="width:40%;height:10%" src="/arquivos/{{p.nomeArquivo}}" /></td>
            <td style="width:45%">{{p.descricao}}</td>
            <td style="width:15%">
              <input type="number" class="form-control" [(ngModel)]="p.quantidade"
                     #quantidade="ngModel" (change)="atualizarPreco(p)" />
            </td>
            <td style="width:15%;text-align:right;">R$ {{p.preco | number:'1.0-2'}}</td>
            <td style="width:10%"><button class="btn btn-danger btn-sm" (click)="remover(p)">Remover</button></td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="card" style="width:95%">
          <div class="card-header">Resumo</div>
          <div class="card-body">
            <div class="row mb-5">
              <div class="col-md-5">
                <strong>Total:</strong>
              </div>
              <div class="col-md-7" style="text-align:right">
                {{total | number:'1.0-2'}}
              </div>
            </div>
            <div class="row  mb-5" style="text-align:center"><button style="width:100%;" class="btn btn-success">Finalizar</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
