<h1 class="h4 mb-2 titulo">Detalhe do Produto: {{produto.nome}}</h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6"><img class="card-top" src="/arquivos/{{produto.nomeArquivo}}" /></div>
    <div class="col-12 col-md-6">
      <div class="row">
        <h1 class="h4 mb-4" style="color:#666;">{{produto.descricao}}</h1>
      </div>
      <div class="row mb-4">
        <h1 class="h3">R$ {{produto.preco}}</h1>
</div>
      <div class="row mb-4">
        <button class="btn btn-danger btn-lg" type="submit" (click)="comprar()">
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="form-inline">
  <button class="btn btn-secondary col-md-2" style="margin-left:2px" type="submit" [routerLink]="['/']">
    Voltar
  </button>
</div>


